$main-color: #121212;
$sub-color: #f0f0f0;

body {
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  color: $main-color;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
li {list-style: none;}

.wrapper {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}
main {
  background-color: $sub-color;
  padding-bottom: 1px;
}

header {
  z-index: 2;
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: #fff;
  .content {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 180px;
    }
  }
  .toggle_btn {
    transform: translateY(5px);
    .hamburger {
      width: 50px; height: 15px;
      position: relative;
      margin-bottom: 5px;
      span {
        transition: all 0.5s 0s ease;
        height: 3px;
        background-color: $main-color;
        position: absolute;
        &:first-child {
          width: 50px;
          top: 0;
        }
        &:last-child {
          width: 30px;
          bottom: 0;
        }
      }
    }
    p {
      font-size: 14px;
      font-weight: bold;
    }
    &.open {
      span {
        width: 30px !important;
        top: 6px !important; 
        left: 10px;
        &:first-child {
          transform: rotateZ(45deg);
        }
        &:last-child {
          transform: rotateZ(-45deg);
        }

      }
    }
  }
  nav {
    display: none;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 70px; left: 0; right: 0;
    background-color: #fff;
    ul {border-top: 1px solid #eee;}
    li {
      padding: 20px;
      border-bottom: 1px solid #eee;
      text-transform: uppercase;
    }
  }
}

main {
  margin-top: 70px;
}

footer {
  border-top: 1px solid $main-color;
  .content {
    padding: 30px 20px;
    background-color: $sub-color;
    p {
      margin-bottom: 15px;
      &:last-child {margin-bottom: 0;}
    }
    .name {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .copyright {
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
}